body {
    font-family: 'Ubuntu', monospace;
    margin: 0;
}

canvas {
    background: #ffffff;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

a {
    border-bottom: 2px solid #31ffd5;
}

a:hover {
    background:#31ffd5;
}

.right {
  float: left;
  display: block;
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
button {
  width: 480px;
  height: 25px;
}

input {
  width: 480px;
  height: 25px;
}

.left {
  float: left;
  display: block;
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.main-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

.main-header, .main-footer {
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
}

.main-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.main-header h1 {
    margin: 0;
    background: #038387;
    padding: 0.5em 1em;
}

.main-header a {
    color: #000;
    text-decoration: none;
}

.main-footer {
    margin-top: 2em;
}

li, p {
    line-height: 1.25em;
}

li {
    margin: 0.5em 0;
}
